venv
.env
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

birth_info/migrations/0001_*.py
birth_info/migrations/0002_*.py
birth_info/migrations/0003_*.py
birth_info/migrations/0004_*.py
birth_info/migrations/0005_*.py
birth_info/migrations/0006_*.py
birth_info/migrations/0007_*.py
birth_info/migrations/0008_*.py
birth_info/migrations/0009_*.py
birth_info/migrations/0010_*.py

decree/migrations/0001_*.py
decree/migrations/0002_*.py
decree/migrations/0003_*.py
decree/migrations/0004_*.py
decree/migrations/0005_*.py
decree/migrations/0006_*.py
decree/migrations/0007_*.py
decree/migrations/0008_*.py
decree/migrations/0009_*.py
decree/migrations/0010_*.py
decree/migrations/0011_*.py
decree/migrations/0012_*.py
decree/migrations/0013_*.py
decree/migrations/0014_*.py
decree/migrations/0015_*.py
decree/migrations/0016_*.py
decree/migrations/0017_*.py
decree/migrations/0018_*.py
decree/migrations/0019_*.py
decree/migrations/0020_*.py
decree/migrations/0021_*.py
decree/migrations/0022_*.py



education/migrations/0001_*.py
education/migrations/0002_*.py
education/migrations/0003_*.py
education/migrations/0004_*.py
education/migrations/0005_*.py
education/migrations/0006_*.py
education/migrations/0007_*.py
education/migrations/0008_*.py
education/migrations/0009_*.py
education/migrations/0010_*.py

filter/migrations/0001_*.py
filter/migrations/0002_*.py
filter/migrations/0003_*.py
filter/migrations/0004_*.py
filter/migrations/0005_*.py
filter/migrations/0006_*.py
filter/migrations/0007_*.py
filter/migrations/0008_*.py
filter/migrations/0009_*.py
filter/migrations/0010_*.py

identity_card_info/migrations/0001_*.py
identity_card_info/migrations/0002_*.py
identity_card_info/migrations/0003_*.py
identity_card_info/migrations/0004_*.py
identity_card_info/migrations/0005_*.py
identity_card_info/migrations/0006_*.py
identity_card_info/migrations/0007_*.py
identity_card_info/migrations/0008_*.py
identity_card_info/migrations/0009_*.py
identity_card_info/migrations/0010_*.py

location/migrations/0001_*.py
location/migrations/0002_*.py
location/migrations/0003_*.py
location/migrations/0004_*.py
location/migrations/0005_*.py
location/migrations/0006_*.py
location/migrations/0007_*.py
location/migrations/0008_*.py
location/migrations/0009_*.py
location/migrations/0010_*.py

military_rank/migrations/0001_*.py
military_rank/migrations/0002_*.py
military_rank/migrations/0003_*.py
military_rank/migrations/0004_*.py
military_rank/migrations/0005_*.py
military_rank/migrations/0006_*.py
military_rank/migrations/0007_*.py
military_rank/migrations/0008_*.py
military_rank/migrations/0009_*.py
military_rank/migrations/0010_*.py

person/migrations/0001_*.py
person/migrations/0002_*.py
person/migrations/0003_*.py
person/migrations/0004_*.py
person/migrations/0005_*.py
person/migrations/0006_*.py
person/migrations/0007_*.py
person/migrations/0008_*.py
person/migrations/0009_*.py
person/migrations/0010_*.py

photo/migrations/0001_*.py
photo/migrations/0002_*.py
photo/migrations/0003_*.py
photo/migrations/0004_*.py
photo/migrations/0005_*.py
photo/migrations/0006_*.py
photo/migrations/0007_*.py
photo/migrations/0008_*.py
photo/migrations/0009_*.py
photo/migrations/0010_*.py

position/migrations/0001_*.py
position/migrations/0002_*.py
position/migrations/0003_*.py
position/migrations/0004_*.py
position/migrations/0005_*.py
position/migrations/0006_*.py
position/migrations/0007_*.py
position/migrations/0008_*.py
position/migrations/0009_*.py
position/migrations/0010_*.py

resident_info/migrations/0001_*.py
resident_info/migrations/0002_*.py
resident_info/migrations/0003_*.py
resident_info/migrations/0004_*.py
resident_info/migrations/0005_*.py
resident_info/migrations/0006_*.py
resident_info/migrations/0007_*.py
resident_info/migrations/0008_*.py
resident_info/migrations/0009_*.py
resident_info/migrations/0010_*.py

working_history/migrations/0001_*.py
working_history/migrations/0002_*.py
working_history/migrations/0003_*.py
working_history/migrations/0004_*.py
working_history/migrations/0005_*.py
working_history/migrations/0006_*.py
working_history/migrations/0007_*.py
working_history/migrations/0008_*.py
working_history/migrations/0009_*.py
working_history/migrations/0010_*.py

staffing_table/migrations/0001_*.py
staffing_table/migrations/0002_*.py
staffing_table/migrations/0003_*.py
staffing_table/migrations/0004_*.py
staffing_table/migrations/0005_*.py
staffing_table/migrations/0006_*.py
staffing_table/migrations/0007_*.py
staffing_table/migrations/0008_*.py
staffing_table/migrations/0009_*.py
staffing_table/migrations/0010_*.py